<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Transport Route</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- ICON GOOGLE -->
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet"> <!-- ตัวหนังสือ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <script src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sideber.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add.js') }}" defer></script>
</head>

<body>
    <aside class="sidebar">
        <button class="sidebar-toggle">
            <span class="material-symbols-outlined"> menu </span>
        </button>
        <br>
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="logo">
            <h2>Transport Route</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/dashboard'>
                <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
            </li>
            <h4>
                <span>Transport Route Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/ship'><span class="material-symbols-outlined">table</span>รายการขนส่ง</a>
            </li>
            <li>
                <a href='/add'><span class="material-symbols-outlined">note_add</span>เพิ่มรายการขนส่ง</a>
            </li>
            <li>
                <a href='/oil'><span class="material-symbols-outlined">local_gas_station</span>ราคาน้ำมัน</a>
            </li>
            <h4>
                <span>Report Transport</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/report'>
                <span class="material-symbols-outlined">plagiarism</span>รายงานบิลขาย</a>
            </li>
            <li>
                <a href='/branch_report'>
                <span class="material-symbols-outlined">group_search</span>จัดส่งสินค้าประจำวัน</a>
            </li>
            <li>
                <a href='/month_report'>
                <span class="material-symbols-outlined">group_search</span>จัดส่งสินค้าประจำเดือน</a>
            </li>
            <h4>
                <span>System Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li class="restricted-menu">
                <a href='/car'><span class="material-symbols-outlined">local_shipping</span>เพิ่มทะเบียนรถ</a>
            </li>
            <li class="restricted-menu">
                <a href='/branch'><span class="material-symbols-outlined">warehouse</span>เพิ่มสาขา</a>
            </li>
            <li class="restricted-menu">
                <a href='/route'><span class="material-symbols-outlined">map</span>เพิ่มเส้นทางขนส่ง</a>
            </li>
            <li>
                <a href='/logout'><span class="material-symbols-outlined">logout</span>ออกจากระบบ</a>
            </li>
        </ul>
        <div class="user-account">
            <div class="user-profile">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Profile Image">
              <div class="user-detail">
                <h3>{{ user_display  }}</h3>
                <span>{{ ip_address }}</span>
              </div>
            </div>
        </div>
    </aside>

    <div class="container2">
        <h3 class="header-title">เพิ่มรายการขนส่ง</h3>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="SHT_Doc_Date">วันที่เอกสาร :</label><br>
                <input type="date" id="SHT_Doc_Date" name="SHT_Doc_Date" class="form-control" required>
            </div>
            <div class="form-group" id="branch-select-group" {% if user_id != 7 %}style="display: none;"{% endif %}>
                <label for="SHT_Branch">สาขา:</label>
                <select name="SHT_Branch" id="SHT_Branch" {% if user_id != 7 %}disabled{% endif %}>
                    <option value="" disabled selected>--เลือก--</option>
                    {% for branch in branches %}
                        <option value="{{ branch.id }}">{{ branch.SHT_Name_Branch }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="SHT_Register">ทะเบียน :</label>
                <select name="SHT_Register" id="SHT_Register">
                    <option value="" disabled selected>--เลือก--</option>
                    {% for registration in registration %}
                        <option value="{{ registration.SHT_Registration }}">{{ registration.SHT_Registration }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="SHT_Route">รอบเส้นทาง :</label>
                <select name="SHT_Route" id="SHT_Route" required onchange="toggleFields()">
                    <option value="" disabled selected>--เลือก--</option>
                    {% for route in route %}
                        {% if not route.SHT_Route.startswith("ข้อมูลตั้งต้นระบบ") %}
                            <option value="{{ route.id_branch }}">{{ route.SHT_Route }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="bill-group">
                <label for="SHT_Bill">จำนวนบิล :</label>
                <input type="text" id="SHT_Bill" name="SHT_Bill" placeholder="Enter Bill Amount" oninput="formatNumber(this), AMTNumber(event)" onblur="removeCommasBeforeSubmit(this)">
            </div>
            <div class="form-group" id="value-group">
                <label for="SHT_Value">ยอดขาย :</label>
                <input type="text" id="SHT_Value" name="SHT_Value" placeholder="Enter Sales" oninput="formatNumber(this), AMTNumber(event)" onblur="removeCommasBeforeSubmit(this)">
            </div>
            <div class="form-group">
                <label for="SHT_Num_First">เลขไมค์ก่อนวิ่ง :</label>
                <input type="text" id="SHT_Num_First" name="SHT_Num_First" placeholder="Enter Mileage" oninput="formatNumber(this), AMTNumber(event)" onblur="removeCommasBeforeSubmit(this)" required>
            </div>
            <div class="form-group">
                <label for="SHT_Num_Late">เลขไมค์หลังวิ่ง :</label>
                <input type="text" id="SHT_Num_Late" name="SHT_Num_Late" placeholder="Enter Mileage" oninput="formatNumber(this), AMTNumber(event)" onblur="removeCommasBeforeSubmit(this)" required>
            </div>
            <div class="form-group">
                <label for="SHT_Note">หมายเหตุ :</label>
                <textarea id="SHT_Note" name="SHT_Note" placeholder="Enter Additional Notes"></textarea>
            </div>

            <button type="submit"><span class="material-symbols-outlined">save</span>บันทึก</button>
        </form>
        <br>
        <div class="footer-line">
            <p>Sopon-Product Co.,Ltd.</p>
            <p>Develop by Thanapurt Sopon | Last Update 2025</p>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const userId = {{ user_id }};
            const branchSelectGroup = document.getElementById("branch-select-group");
        
            if (userId === 0 || userId === 999) {
                branchSelectGroup.style.display = "block";
                document.getElementById("SHT_Branch").disabled = false;
            } else {
                branchSelectGroup.style.display = "none";
                document.getElementById("SHT_Branch").disabled = true;
            }
        });

        window.onload = function() {
            var userId = "{{ user_id }}";
        
            if (userId !== '0' && userId !== '999') {
                var menuItems = document.querySelectorAll('.restricted-menu');
                menuItems.forEach(function(item) {
                    item.style.display = 'none';
                });
            }
        
            toggleFields();
        };
        
        function toggleFields() {
            var routeValue = document.getElementById('SHT_Route').value;
            var billGroup = document.getElementById('bill-group');
            var valueGroup = document.getElementById('value-group');
            
            if (routeValue == '0') {
                billGroup.style.display = 'none';
                valueGroup.style.display = 'none';
            } else {
                billGroup.style.display = 'block';
                valueGroup.style.display = 'block';
            }
        }
    </script>
</body>
</html>
