<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Transport Route</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/car.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Detele.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sideber.js') }}"></script>
</head>

<body>
    <aside class="sidebar">
        <button class="sidebar-toggle">
            <span class="material-symbols-outlined"> menu </span>
        </button>
        <br>
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="logo">
            <h2>Transport Route</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/dashboard'>
                <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
            </li>
            <h4>
                <span>Transport Route Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/ship'><span class="material-symbols-outlined">table</span>รายการขนส่ง</a>
            </li>
            <li>
                <a href='/add'><span class="material-symbols-outlined">note_add</span>เพิ่มรายการขนส่ง</a>
            </li>
            <li>
                <a href='/oil'><span class="material-symbols-outlined">local_gas_station</span>ราคาน้ำมัน</a>
            </li>
            <h4>
                <span>Report Transport</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/report'>
                <span class="material-symbols-outlined">plagiarism</span>รายงานบิลขาย</a>
            </li>
            <li>
                <a href='/branch_report'>
                <span class="material-symbols-outlined">group_search</span>จัดส่งสินค้าประจำวัน</a>
            </li>
            <li>
                <a href='/month_report'>
                <span class="material-symbols-outlined">group_search</span>จัดส่งสินค้าประจำเดือน</a>
            </li>
            <h4>
                <span>System Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li class="restricted-menu">
                <a href='/car'><span class="material-symbols-outlined">local_shipping</span>เพิ่มทะเบียนรถ</a>
            </li>
            <li class="restricted-menu">
                <a href='/branch'><span class="material-symbols-outlined">warehouse</span>เพิ่มสาขา</a>
            </li>
            <li class="restricted-menu">
                <a href='/route'><span class="material-symbols-outlined">map</span>เพิ่มเส้นทางขนส่ง</a>
            </li>
            <li>
                <a href='/logout'><span class="material-symbols-outlined">logout</span>ออกจากระบบ</a>
            </li>
        </ul>
        <div class="user-account">
            <div class="user-profile">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Profile Image">
              <div class="user-detail">
                <h3>{{ user_display  }}</h3>
                <span>{{ ip_address }}</span>
              </div>
            </div>
        </div>
    </aside>

    <div class="container2">
        <button id="addDataBtn"><span class="material-symbols-outlined">add</span>เพิ่มข้อมูลใหม่</button>

        <div id="addDataModal" class="modal" style="display: none;">
            <div class="modal-overlay"></div>
        
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>เพิ่มข้อมูลใหม่</h3>
                
                <form id="addDataForm">
                    <label for="branch">สาขา :</label>
                    <input type="text" id="branch" name="branch" required>
                
                    <button type="submit">บันทึก</button>
                </form>
            </div>
        </div>        

        <div class="content">
            {% if results %}
            <table id="myTable" border="1">
                <thead>
                    <tr>
                        <th style="text-align: center;">รหัสสาขา</th>
                        <th style="text-align: center;">สาขา</th>
                        <th style="text-align: center;">รหัสเส้นทาง</th>
                        <th style="text-align: center;">จัดการข้อมูล</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td style="text-align: center;">{{ result['id'] }}</td>
                        <td style="text-align: center;">{{ result['SHT_Name_Branch'] }}</td>
                        <td style="text-align: center;">{{ result['SHT_ID_Branch'] }}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            <form action="/delete_branch/{{ result['id'] }}" method="POST" style="display:inline;" class="delete-form">
                                <button type="button" onclick="confirmDelete(this)" class="btn delete-btn">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p style="text-align: center; color: red;">***ยังไม่มีข้อมูลสำหรับแสดงผล***</p>
            {% endif %}
        </div>
    </div>
    <div class="footer-line">
            <p>Tama-Sopon Demo Product Co.,Ltd.</p>
            <p>Develop by Thanapurt Sopon | Last Update 2025</p>
    </div>

    <script>
        document.getElementById("addDataBtn").addEventListener("click", function () {
            document.getElementById("addDataModal").style.display = "block";
        });
    
        document.querySelector(".close").addEventListener("click", function () {
            document.getElementById("addDataModal").style.display = "none";
        });
    
        document.getElementById("addDataForm").addEventListener("submit", function (event) {
            event.preventDefault();
    
            const data = {
                branch: document.getElementById("branch").value,
            };
    
            fetch("/branch", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                .then((result) => {
                    alert(result.message);
                    document.getElementById("addDataModal").style.display = "none";
                    location.reload();
                })
                .catch((error) => console.error("Error:", error));
        });
    </script>
</body>
</html>