<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Transport Route</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- ICON GOOGLE -->
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet"> <!-- ตัวหนังสือ -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css"> <!-- ตาราง -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- โหลด jQuery ก่อน -->
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sideber.js') }}"></script>
</head>

<body>
    <aside class="sidebar">
        <button class="sidebar-toggle">
            <span class="material-symbols-outlined"> menu </span>
        </button>
        <br>
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="logo">
            <h2>Transport Route</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/dashboard'>
                <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
            </li>
            <h4>
                <span>Transport Route Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/ship'><span class="material-symbols-outlined">table</span>รายการขนส่ง</a>
            </li>
            <li>
                <a href='/add'><span class="material-symbols-outlined">note_add</span>เพิ่มรายการขนส่ง</a>
            </li>
            <li>
                <a href='/oil'><span class="material-symbols-outlined">local_gas_station</span>ราคาน้ำมัน</a>
            </li>
            <h4>
                <span>Report Transport</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href='/report'>
                <span class="material-symbols-outlined">plagiarism</span>รายงานบิลขาย</a>
            </li>
            <li>
                <a href='/branch_report'>
                <span class="material-symbols-outlined">group_search</span>จัดส่งสินค้าประจำวัน</a>
            </li>
            <li>
                <a href='/month_report'>
                <span class="material-symbols-outlined">group_search</span>จัดส่งสินค้าประจำเดือน</a>
            </li>
            <h4>
                <span>System Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li class="restricted-menu">
                <a href='/car'><span class="material-symbols-outlined">local_shipping</span>เพิ่มทะเบียนรถ</a>
            </li>
            <li class="restricted-menu">
                <a href='/branch'><span class="material-symbols-outlined">warehouse</span>เพิ่มสาขา</a>
            </li>
            <li class="restricted-menu">
                <a href='/route'><span class="material-symbols-outlined">map</span>เพิ่มเส้นทางขนส่ง</a>
            </li>
            <li>
                <a href='/logout'><span class="material-symbols-outlined">logout</span>ออกจากระบบ</a>
            </li>
        </ul>
        <div class="user-account">
            <div class="user-profile">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Profile Image">
              <div class="user-detail">
                <h3>{{ user_display  }}</h3>
                <span>{{ ip_address }}</span>
              </div>
            </div>
        </div>
    </aside>


    <div class="container">
        <h3> Dashboard </h3>
        <br>
        <div class="boxchat-container">
            <div class="boxchat boxchat-office">
                <h3>จำนวนบิลรวม</h3>
                <h3>วันที่ {{ current_day }} / {{ current_month_number }} / {{ current_year }}</h3>
                <div class="boxchat-content">
                    <p>{{ Day_Sum_Bill }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-tool">
                <h3>จำนวนบิลรวม</h3>
                <h3>เดือน {{ current_month }}</h3>
                <div class="boxchat-content">
                    <p>{{ Month_Sum_Bill }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-car">
                <h3>จำนวนบิลรวม</h3>
                <h3>ปี {{ current_year }}</h3>
                <div class="boxchat-content">
                    <p>{{ Year_Sum_Bill }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-car">
                <h3>ราคาน้ำมัน (เฉลี่ย)</h3>
                <h3>ปี {{ current_year }}</h3>
                <div class="boxchat-content">
                    <p>{{ Year_Sum_Oil }}</p>
                </div>
            </div>
            <div class="boxchat boxchat-tower">
                <h3>ยอดขายตามบิล</h3>
                <h3>ปี {{ current_year }}</h3>
                <div class="boxchat-content">
                    <p>{{ Year_Sum_Value }}</p>
                </div>
            </div>
        </div>
        
        <div class="chart-row">
            <div id="chart-container">
                <div id="chart"></div>
            </div>
            <div id="chart-container">
                <div id="chart2"></div>
            </div>
        </div>
        <br>
    </div>

    <div class="container2">
        <h1>ราคาน้ำมันเฉลี่ยต่อวัน</h1>
        <div class="content">
            {% if route_data %}
            <table id="myTable" class="display" border="1">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 100px;">No</th>
                        <th style="text-align: center; white-space: nowrap; word-wrap: break-word;">เส้นทาง</th>
                        {% for day in range(1, 32) %}
                            <th style="text-align: center; width: 20px;">{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for route, days in route_data.items() %}
                        <tr>
                            <td style="text-align: center; width: 50px;">{{ loop.index }}</td>
                            <td style="text-align: center; white-space: nowrap; word-wrap: break-word;">{{ route }}</td>
                            {% for day in range(1, 32) %}
                            {% if days[day] != 0 %}
                                <td style="background-color: #66b46e; color: white; text-align: center; vertical-align: middle;">{{ days[day] }}</td>
                            {% else %}
                                <td style="text-align: center; vertical-align: middle;"></td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p style="text-align: center; color: red;">***ยังไม่มีข้อมูลสำหรับแสดงผล***</p>
            {% endif %}
        </div>
    </div>
    <div class="footer-line">
            <p>Sopon-Product Co.,Ltd.</p>
            <p>Develop by Thanapurt Sopon | Last Update 2025</p>
    </div>

    <script>
        window.chartData = {
            topics: {{ topics|tojson }},
            counts: {{ counts|tojson }}
        };

        window.onload = function() {
            var userId = "{{ user_id }}";

            if (userId !== '0' && userId !== '999') {
                var menuItems = document.querySelectorAll('.restricted-menu');
                menuItems.forEach(function(item) {
                    item.style.display = 'none';
                });
            }
        };
    </script>

</body>
</html>
